width-pref(val)
  if val isnt null and val isnt nil
    width: val

pref-width(val)
  if val isnt null and val isnt nil
    width: val

width-min(val)
  if val isnt null and val isnt nil
    min-width: val

width-max(val)
  if val isnt null and val isnt nil
    max-width: val

width-fix(val)
  if val isnt null and val isnt nil
    width: val
    min-width: val
    max-width: val

width-full(pref = null, min = null, max =null)
  width-pref: pref
  width-min: min
  width-max: max

width-minmax(min = null, max = null)
  width-min: min
  width-max: max

width(args...,pref = null, min = null, max = null)

  if pref isnt null or min isnt null or max isnt null
    width-full: pref min max

  if length(args) > 2
    width-full: args[0], args[1], args[2]

  else if length(args) == 1
    width-pref: args[0]

  else if length(args) == 2
    if args[1] == fix
      width-fix: args[0]
    else
      width-minmax: args[0], args[1]


height-pref(val)
  if val isnt null and val isnt nil
    height: val

pref-height(val)
  if val isnt null and val isnt nil
    height: val

height-min(val)
  if val isnt null and val isnt nil
    min-height: val

height-max(val)
  if val isnt null and val isnt nil
    max-height: val

height-fix(val)
  if val isnt null and val isnt nil
    height: val
    min-height: val
    max-height: val

height-full(pref = null, min = null, max =null)
  height-pref: pref
  height-min: min
  height-max: max

height-minmax(min = null, max = null)
  height-min: min
  height-max: max

height(args...,pref = null, min = null, max = null)

  if pref isnt null or min isnt null or max isnt null
    height-full: pref min max

  if length(args) > 2
    height-full: args[0], args[1], args[2]

  else if length(args) == 1
    height-pref: args[0]

  else if length(args) == 2
    if args[1] == fix
      height-fix: args[0]
    else
      height-minmax: args[0], args[1]


size-pref(args...)
  if length(args) == 1
    if length(args[0]) > 1
      w = args[0][0]
      h = args[0][1]
    else
      w = args
      h = args
  if length(args) > 1
    w = args[0]
    h = args[1]

  pref-width: w
  pref-height: h

size-min(args...)
  if length(args) == 1
    if length(args[0]) > 1
      w = args[0][0]
      h = args[0][1]
    else
      w = args
      h = args
  if length(args) > 1
    w = args[0]
    h = args[1]

  width-min: w
  height-min: h

size-max(args...)
  if length(args) == 1
    if length(args[0]) > 1
      w = args[0][0]
      h = args[0][1]
    else
      w = args
      h = args
  if length(args) > 1
    w = args[0]
    h = args[1]

  width-max: w
  height-max: h

size-full(pref = null, min = null, max = null)
  size-pref(pref)
  size-min(min)
  size-max(max)


size(args..., pref = null, min = null, max = null)
  args: args
  size: length(args)
  separ: list-separator(args)
  pref: pref
  min: min
  max: max
  if pref isnt null or min isnt null or max isnt null
    size-full: pref min max
  else if list-separator(args) == ' '
    if fix in args
      if args[0] != fix && args[1] != fix
        size-fix(args[0], args[1])
  // if length(args) == 1



.v1
// pref: pref-w [pref-h], min: min-w [min-h], max: max-w [max-h]
  size(min: 56px 60px, pref:  70px 80px, max: 97px 88px)

.v2
// pref-w [pref-h]
  size: 10% 20%
.v3
// pref-w [pref-h] fix
  size: 10% 20% fix
.v3
// pref-w [pref-h] fix
  size: 10% fix
.v4
// min-w [min-h], max-w [max-h]
  size: 10px 50px, 100px 150px
.v5
// pref-w [pref-h], min-w [min-h], max-w [max-h]
  size: 10% 20%, 10px 50px, 100px 150px
