html
  background: $c-main-white

section
  position: relative
  width: 100%, 960px, nil
  overflow: hidden
  height: 700px
  padding-top: 50px
  padding-bottom: 50px

.content
  width: 100%
  height: 100%
  column: between, center

.slider
  width: 100%
  height: 760px
  padding-top: 80px

  .bg
    absolute: top 0 left 0
    size: 100%
    row: center center

    z-index: -1

    img
      width: 100%
      min-size: 100%

  .quations
    margin-bottom: 60px

.achievements
  .achieves
    width: 100%
    row: around, center

  .achieve

    .circle
      size: 280px
      column: center, center
      margin-top: 20px
      .number
        margin-bottom: 10px

.children, .adult
  // height: 800px

  .deals
    size: 100%
    margin-top: 40px
    row: around, center

    .deal
      column: around, center
      width: 31%, 300px, 500px
      height: 100%

    .image
      row: center, center
      width: 100%
      height: 250px
      overflow: hidden

      margin-bottom: 15px

      img
        width: 100%



    .text
      height: 76px
      margin-bottom: 20px
    h4
      height: 46px

    .text-button
      row: center, center
      height: 32px
      padding: 0 14px
      padding-top: 1px

      span
        margin-left: 9px
        margin-top: -1px

.adult
  // height: 700px
  .deals
    .deal
      width: 40%
