// @import 'reset'
// @import 'fonts/ptsans'
// @import 'fonts/roboto'
// @import 'fonts/baronneue'
// @import 'fonts/mdi'
// @import 'icons/mdi'
//
// @import 'mixins/layout'

@import 'import'


*
  box-sizing: border-box

$BaronNeue = 'Baron Neue', 'Arial'
$PTSansNarrow = 'PT Sans Narrow'

$c-main-blue = #1976D2
$c-main-green = #388E3C
$c-main-orange = #E64A19
$c-main-white = #F7F7F7
$c-main-black = #212121
$c-main-grey = #545454
$c-secondary-black = #212325
$c-secondary-white = #EEEEEE

circle(dia)
  width: dia
  height: dia
  border-radius: 100%

button($size, $color1, $color2)
  hbox: center
  circle: $size
  border: 1px solid $color1
  color: $color1

  &:hover
    background: $color1
    color: $color2

  &:active
    background: darken($color1, 20%)
    color: $color2

// row()
//   display: flex
//   direction: row
//   justify-content: space-between
//   align-items: center

a
  display: block
  color: inherit
  text-decoration: inherit
  cursor: inherit
  &:active, &:focus
    outline: none;

.emblem
  font-family: $BaronNeue
  font-weight: normal
  line-height: 1em

  .first
    color: $c-main-green

  .second
    color: $c-main-orange

@import 'header'
@import 'main'

// header
//   hbox: center
//   size: 100% 60px, 960px nil, nil
//   background: rgba($c-main-white, 0.85)
//   box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.05)
//
// .main-nav
//   row()
//   width-fix: 960px
//   padding: 0 5px
//
// .logo
//   vbox: center
//
//   .emblem
//     font: 42px/1em BaronNeue
//     margin-bottom: -6px
//
//     span
//       margin-left: -1px
//       margin-right: -1px
//
//     .first
//       color: $c-main-green
//
//     .second
//       color: $c-main-orange
//   p
//     font: 14px/1em PTSansNarrow
//     color: $c-main-black
//
//     span
//       font-weight: bold
//
// nav
//   hbox: center
//   font: 20px/1em PTSansNarrow
//   color: #7F7F7F
//   text-transform: uppercase
//
//   a
//     margin-left: 10px
//     margin-right: 10px
//
//     &:hover
//       color: $c-main-black
//
//   .active
//     color: $c-main-black
//     font-weight: bold
//
//
//
//
// .action-buttons
//   hbox: center
//
//   .button
//     margin-left: 5px
//     margin-right: 5px
//   .contacts
//     button(36px, $c-main-green, $c-main-white)
//   .cart
//     button(36px, $c-main-orange, $c-main-white)
//   .profile
//     button(36px, $c-main-blue, $c-main-white)
