
header
  fixed: top 0 left 0
  hbox: center
  size: 100% 60px, 960px nil, nil
  background: rgba($c-main-white, 0.95)
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.05)
  z-index: 9999

.main-nav
  row: between, center
  width-fix: 960px
  padding: 0 5px

.logo
  vbox: center

  .emblem
    font-family: 'icomoon'
    font-size: 32px
    // margin-bottom: -6px

    span
      margin-left: 1px
      margin-right: 1px


  p
    font: 14px/1 $PTSansNarrow
    color: $c-main-black

    span
      font-weight: bold

nav
  hbox: center
  font: 20px/1 $PTSansNarrow
  color: #7F7F7F
  text-transform: uppercase

  a
    margin-left: 10px
    margin-right: 10px

    &:hover
      color: $c-main-black

  .active
    color: $c-main-black
    font-weight: bold




.action-buttons
  hbox: center

  .button
    margin-left: 5px
    margin-right: 5px
  .contacts
    button(36px, $c-main-green, $c-main-white)
  .cart
    button(36px, $c-main-orange, $c-main-white)
  .profile
    button(36px, $c-main-blue, $c-main-white)

header
  .contacts
    row: center, center

    .icon
      rotate-elem: 45deg
      color: $c-main-blue

    p.first
      color: $c-main-orange
    p.second
      color: $c-main-green
