.tours
  .content
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);

    p
      color: $c-main-white

  .icon
    border-radius: 100%
    text-shadow: none
    color: $c-main-white
  .item1
    .icon
      background: $c-main-green
  .item2
    .icon
      background: $c-main-blue
  .item3
    .icon
      background: $c-main-orange
