.tours
  h1.emblem
    color: $c-main-white
    margin-bottom: 60px

  .content
    column: center, center

  .advantages
    width: 950px
    row: between, center
    flex-self: center

    .item
      column: start, center
      max-width: 220px
      // flex-self: center

      .icon
        row: center, center
        size: 200px
        margin-bottom: 50px

      p
        margin-bottom: 20px
        height: 36px
