.about
  .content
    h1.emblem
      text-shadow: 0px 2px 6px rgba(0,0,0,0.50)
      // color: $c-secondary-blue
    .slogan
        color: $c-main-white
        text-shadow: 0px 2px 6px rgba(0,0,0,0.50)

    p.first
      color: $c-secondary-green
      text-shadow: 0px 2px 6px rgba(0,0,0,0.50)

    p.second
      color: $c-secondary-orange
      text-shadow: 0px 2px 6px rgba(0,0,0,0.50)

    ul
      li
        color: $c-secondary-white
        text-shadow: 0px 2px 6px rgba(0,0,0,0.50)

.why
  h2
    color: $c-main-green
  .number
    background: $c-main-blue
    color: $c-main-white
    border-radius: 50px
