.about
  .content
    max-width: 950px
    margin: auto

  .why
    .content
      column: between, start

      h2
        flex-self: center
  .list-item
    row: start, center

    .number
      row: center, center
      size: 50px
      margin-right: 15px
