$POS-TL = top-left   TOP-LEFT   tl TL
$POS-TC = top-center TOP-CENTER tc TC
$POS-TR = top-right  TOP-RIGHT  tr TR

$POS-LC = left-center   LEFT-CENTER   lc LC
$POS-CC = center-center CENTER-CENTER cc CC center CENTER
$POS-RC = right-center  RIGHT-CENTER  rc RC

$POS-BL = bottom-left   BOTTOM-LEFT   bl BL
$POS-BC = bottom-center BOTTOM-CENTER bc BC
$POS-BR = bottom-right  BOTTOM-RIGHT  br BR

$POS = top-left TOP-LEFT tl TL top-center TOP-CENTER tc TC top-right TOP-RIGHT tr TR left-center LEFT-CENTER lc LC center-center CENTER-CENTER cc CC center CENTER right-center  RIGHT-CENTER  rc RC bottom-left BOTTOM-LEFT bl BL bottom-center BOTTOM-CENTER bc RC bottom-right BOTTOM-RIGHT br BR
