.events, .trainings
  section
    size: 100vw 100vh
    min-height: 760px
    padding-top: 100px

  .center
    row: between, center
    width: 960px

  h3
    margin-bottom: 10px
    margin-top: 10px

  .info
    column: between, start
    height: 90%

    .item
      row: center, center

      .icon
        margin-right: 15px
.trainings
  .info
    height: 30px
    width: 960px
