// @font-face
//     font-family: 'Baron Neue'
//     font-weight: 900
//     font-style: italic
//
//     src: url('/assets/fonts/baronneue/baron_neue_black_italic.eot')
//     src: local('Baron Neue Black Italic'),
//          url('/assets/fonts/baronneue/baron_neue_black_italic.eot?#iefix') format('embedded-opentype'),
//          url('/assets/fonts/baronneue/baron_neue_black_italic.woff') format('woff'),
//          url('/assets/fonts/baronneue/baron_neue_black_italic.ttf') format('truetype')
// @font-face
//    font-family: 'Baron Neue'
//    font-weight: 900
//    font-style: normal
//
//    src: url('/assets/fonts/baronneue/baron_neue_black.eot')
//    src: local('Baron Neue Black'),
//         url('/assets/fonts/baronneue/baron_neue_black.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/baronneue/baron_neue_black.woff') format('woff'),
//         url('/assets/fonts/baronneue/baron_neue_black.ttf') format('truetype')
//
//
// @font-face
//    font-family: 'Baron Neue'
//    font-weight: bold
//    font-style: italic
//
//    src: url('/assets/fonts/baronneue/baron_neue_bold_italic.eot')
//    src: local('Baron Neue Bold Italic'),
//         url('/assets/fonts/baronneue/baron_neue_bold_italic.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/baronneue/baron_neue_bold_italic.woff') format('woff'),
//         url('/assets/fonts/baronneue/baron_neue_bold_italic.ttf') format('truetype')
// @font-face
//    font-family: 'Baron Neue Bold'
//    font-weight: bold
//    font-style: normal
//
//    src: url('/assets/fonts/baronneue/baron_neue_bold.eot')
//    src: local('Baron Neue Bold'),
//         url('/assets/fonts/baronneue/baron_neue_bold.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/baronneue/baron_neue_bold.woff') format('woff'),
//         url('/assets/fonts/baronneue/baron_neue_bold.ttf') format('truetype')


@font-face
   font-family: 'Baron Neue'
   font-weight: normal
   font-style: italic

   src: url('/assets/fonts/baronneue/baron_neue_italic.eot')
   src: local('Baron Neue Italic'),
        url('/assets/fonts/baronneue/baron_neue_italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/baronneue/baron_neue_italic.woff') format('woff'),
        url('/assets/fonts/baronneue/baron_neue_italic.ttf') format('truetype')
@font-face
   font-family: 'Baron Neue'
   font-weight: normal
   font-style: normal

   src: url('/assets/fonts/baronneue/baron_neue.eot')
   src: local('Baron Neue Regular'),
        url('/assets/fonts/baronneue/baron_neue.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/baronneue/baron_neue.ttf') format('truetype')
        url('/assets/fonts/baronneue/baron_neue.woff') format('woff'),
