// PT Sans Font
@font-face
  font-family: 'PT Sans'
  font-style: normal
  font-weight: normal

	src: url('/assets/fonts/ptsans/pts55f_w.eot')
	src: local('PT Sans'),
       url('/assets/fonts/ptsans/PTS55F_W.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/ptsans/PTS55F_W.svg#PTSans-Regular') format('svg'),
       url('/assets/fonts/ptsans/PTS55F_W.woff') format('woff'),
       url('/assets/fonts/ptsans/PTS55F_W.ttf') format('truetype')

@font-face
  font-family: 'PT Sans'
  font-style: italic
  font-weight: normal

	src: url('/assets/fonts/ptsans/pts56f_w.eot')
	src: local('PT Sans'),
       url('/assets/fonts/ptsans/PTS56F_W.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/ptsans/PTS56F_W.svg##PTSans-Italic') format('svg'),
       url('/assets/fonts/ptsans/PTS56F_W.woff') format('woff'),
       url('/assets/fonts/ptsans/PTS56F_W.ttf') format('truetype')

@font-face
  font-family: 'PT Sans'
  font-style: normal
	font-weight: bold

	src: url('/assets/fonts/ptsans/pts75f_w.eot')
	src: local('PT Sans'),
       url('/assets/fonts/ptsans/PTS75F_W.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/ptsans/PTS75F_W.svg#PTSans-Bold') format('svg'),
       url('/assets/fonts/ptsans/PTS75F_W.woff') format('woff'),
       url('/assets/fonts/ptsans/PTS75F_W.ttf') format('truetype')

@font-face
  font-family: 'PT Sans'
  font-style: italic
	font-weight: bold

	src: url('/assets/fonts/ptsans/pts76f_w.eot')
	src: local('PT Sans'),
       url('/assets/fonts/ptsans/PTS76F_W.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/ptsans/PTS76F_W.svg#PTSans-BoldItalic') format('svg'),
       url('/assets/fonts/ptsans/PTS76F_W.woff') format('woff'),
       url('/assets/fonts/ptsans/PTS76F_W.ttf') format('truetype')


// PT Sans Caption Font
@font-face
    font-family: 'PT Sans Caption'
    font-weight: normal
    font-style:  normal

    src: url('/assets/fonts/ptsans/ptc55f_w.eot')
    src: local('PTSans-Caption'),
         url('/assets/fonts/ptsans/PTC55F_W.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ptsans/PTC55F_W.woff') format('woff'),
         url('/assets/fonts/ptsans/PTC55F_W.ttf') format('truetype'),
         url('/assets/fonts/ptsans/PTC55F_W.svg#PTSans-Caption') format('svg')
@font-face
    font-family: 'PT Sans Caption'
    font-weight: bold
    font-style:  normal

    src: url('/assets/fonts/ptsans/ptc75f_w.eot')
    src: local('PTSans-CaptionBold'),
         url('/assets/fonts/ptsans/PTC75F_W.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ptsans/PTC75F_W.woff') format('woff'),
         url('/assets/fonts/ptsans/PTC75F_W.ttf') format('truetype'),
         url('/assets/fonts/ptsans/PTC75F_W.svg#PTSans-CaptionBold') format('svg')

// PT Sans Narrow Font
@font-face
    font-family: 'PT Sans Narrow'
    font-weight: normal
    font-style:  normal

    src: url('/assets/fonts/ptsans/ptn57f_w.eot')
    src: local('PTSans-Narrow'),
         url('/assets/fonts/ptsans/PTN57F_W.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ptsans/PTN57F_W.woff') format('woff'),
         url('/assets/fonts/ptsans/PTN57F_W.ttf') format('truetype'),
         url('/assets/fonts/ptsans/PTN57F_W.svg#PTSans-Narrow') format('svg')
@font-face
    font-family: 'PT Sans Narrow'
    font-weight: bold
    font-style:  normal

    src: url('/assets/fonts/ptsans/ptn77f_w.eot')
    src: local('PTSans-NarrowBold'),
         url('/assets/fonts/ptsans/PTN77F_W.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ptsans/PTN77F_W.woff') format('woff'),
         url('/assets/fonts/ptsans/PTN77F_W.ttf') format('truetype'),
         url('/assets/fonts/ptsans/PTN77F_W.svg#PTSans-NarrowBold') format('svg')


// @font-face
//   font-family: 'PT Sans Narrow'
//   font-style: normal
// 	font-weight: bold
//
// 	src: url('/assets/fonts/ptsans/ptn77f_w.eot')
// 	src: //local('PT Sans Narrow'),
//        url('/assets/fonts/ptsans/PTN77F_W.eot?#iefix') format('embedded-opentype'),
//        url('/assets/fonts/ptsans/PTN77F_W.svg#PTSans-NarrowBold') format('svg'),
//        url('/assets/fonts/ptsans/PTN77F_W.woff') format('woff'),
//        url('/assets/fonts/ptsans/PTN77F_W.ttf') format('truetype')
