@font-face
    font-family: 'Roboto Slab1'
    font-weight: 100
    font-style:  normal

    src: url('/assets/fonts/roboto/robotoslab-thin.eot')
    src: local('RobotoSlab-Thin'),
         url('/assets/fonts/roboto/robotoslab-thin.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/roboto/robotoslab-thin.woff') format('woff'),
         url('/assets/fonts/roboto/robotoslab-thin.ttf') format('truetype')
@font-face
    font-family: 'Roboto Slab1'
    font-weight: 300
    font-style:  normal

    src: url('/assets/fonts/roboto/robotoslab-light.eot')
    src: local('RobotoSlab-Light'),
         url('/assets/fonts/roboto/robotoslab-light.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/roboto/robotoslab-light.woff') format('woff'),
         url('/assets/fonts/roboto/robotoslab-light.ttf') format('truetype')
@font-face
    font-family: 'Roboto Slab1'
    font-weight: normal
    font-style:  normal

    src: url('/assets/fonts/roboto/robotoslab-regular.eot')
    src: local('RobotoSlab-Regular'),
         url('/assets/fonts/roboto/robotoslab-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/roboto/robotoslab-regular.woff') format('woff'),
         url('/assets/fonts/roboto/robotoslab-regular.ttf') format('truetype')
@font-face
    font-family: 'Roboto Slab1'
    font-weight: bold
    font-style:  normal

    src: url('/assets/fonts/roboto/robotoslab-bold.eot')
    src: local('RobotoSlab-Bold'),
         url('/assets/fonts/roboto/robotoslab-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/roboto/robotoslab-bold.woff') format('woff'),
         url('/assets/fonts/roboto/robotoslab-bold.ttf') format('truetype')
